#button-panel {
    padding: 5%;
    display: flex;
}
/*style the uploaded image options*/
#image-options {
    min-height: 100px;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: min-content;
    overflow: hidden;
}
/*fancy footer*/
footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: bottom;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
td, th {
    width: 10vh;
    height: 10vh;
}
#header, #add {
    height: 8vh;
}
h2.left-header {
    font-size: xx-large;
    margin: 0;
}