#button-panel {
    padding: 1vh;
    display: flex;
    flex-direction: column;
}
#image-options {
    min-height: 100px;
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 40px;
    min-height: min-content;
    overflow: hidden;
}
/*fancy footer*/
footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
td, th, .potential-drag {
    width: 7vh;
    height: 7vh;
}
#theme-buttons {
    flex-direction: column;
}
#desc {
    font-size: 14px;
}
footer {
    display: none;
}
body {
    overscroll-behavior: contain;
}
#about {
    font-size: 40px;
}
#github-mobile {
    margin-bottom: 20px;
}