/*FONT CSS*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 100,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
/*body styling with the Theme*/
body {
    background-color: #18181b;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
/*fancy header*/
header {
    display:flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: #d22d59 5px solid;
}
header button {
    color: #6b6b6b;
    transition: color .1s;
    white-space:nowrap;
    border: #393939 solid 1px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #18181b;
    font-size: medium;
    

}
header button:hover {
    color: white;
    background-color: #222222;
    border-color: #393939;
}
#addtierdiv, #addurldiv, #addtextdiv, #addimagediv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}
#addurldiv label, #addtextdiv label, #addimagediv label, #addtierdiv label {
    width: 20vh;
    margin-bottom: 10px;
}
#fileselect {
    height: 5vh;
    border: solid #393939 1px;
}
#addtierdiv div {
    display: flex;
}
/*new tier button margins*/
#addtierdiv div input, #addtierdiv label {
    margin-right: 5px;
}
/*divs to style*/
.potentialdrag {
    cursor: pointer;
    text-align: center;
    width: 10vh;
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    display: inline-table;
}
td, th {
    width: 10vh;
    height: 10vh;
}
td img {
    width: 100%;
    max-width: 10vh;
}
table {
    border-collapse: collapse;
    border: black solid 3px;
    width: 100%;
    background-color: #393939;
}
tr, td, th {
    border: black solid 2px;
}
.tierheader {
    width: 7%;
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
}
.tiersettings {
    width: 7%;
    background-color: #1f1f1f;
    text-align: center;
}
.tiersettings div {
    display: flex;
    width: 100%;
}
#dragged {
    opacity: 0.4;
}
#tablehead {
    background-color: #1f1f1f;
}
th:not(.header) {
    color: black
}
/*style the uploaded image options*/
#image-options {
    min-height: 100px;
}
.hidden {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    padding: 10vh;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    border: #222222 solid 5px;
    border-radius: 10px;
    justify-content: center;
}
/*fancy popup menu*/
.dropshown {
    display: flex;
    position: absolute;
    background-color: #1f1f1f;
    padding: 10vh;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    border: #222222 solid 5px;
    border-radius: 10px;
    justify-content: center;
}
/*fancy export menu*/
.export-visible {
    position: absolute;
    background-color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    width: 70%;
    padding: 10px;
    text-align: center;
    border: #222222 solid 5px;
    border-radius: 10px;
    justify-content: center;
}
.export-visible img {
    width: 100%;
    padding-bottom: 10px;
}
.export-visible a {
    background-color: white;
    border: white solid 1px;
    border-radius: 5px;
    color: black;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
}
/*popup menu buttons*/
.dropshown button, .hidden button, .export-visible a {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: large;
    background-color: #222222;
    color: white;
    border-color: #393939;
    flex-wrap: wrap;
}
/*popup menu buttons hover*/
.dropshown button:hover, .export-visible a:hover {
    background-color: #2b2b2b;
    border-color: #6b6b6b
}
/*transparent background/border on tier move button and delete tier buttons in the table*/
#tier-move button, .del-tier {
    background-color: transparent;
    border-color: transparent;
    
}
#new, #tier-move button, .del-tier {
    color: #6b6b6b;
    transition: color .1s;
    
}
/*white links and white table buttons*/
#new:hover, #tier-move button:hover, .del-tier:hover, footer a{
    color: white;
}

#github:hover, footer a:hover {
    color: #d22d59
}

/*give margin to links*/
#desc, #upload-images-info {
    margin-left: 10px;
}
/*fancy footer*/
footer {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-top: black 10px solid;
    border-bottom: black 10px solid;
    text-align: center;
    position: bottom;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#tier-move {
    display: flex;
    flex-direction: column;
}
#copy {
    padding-left: 1vh;
    margin-top: 10px;
    margin-bottom: 5px;
}
/*style github*/
#github {
    text-decoration: none;
    color: white;
    padding-right: 2vh;
    margin-bottom: 5px;
}
.hide-from-export {
    display: none;
}