/*FONT CSS*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 100,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
body {
    background-color: #18181b;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#addtierdiv, #addurldiv, #addtextdiv, #addimagediv {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}
#addurldiv label, #addtextdiv label, #addimagediv label, #addtierdiv label {
    width: 20vh;
    margin-bottom: 10px;
}
#fileselect {
    height: 5vh;
    border: solid #393939 1px;
}
#addtierdiv div {
    display: flex;
}
#addtierdiv div input {
    margin-right: 5px;
}
#addtierdiv label {
    margin-right: 5px;
}
.drag {
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 10vh;
    height: 10vh;
    border: solid white;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}
.potentialdrag {
    z-index: 2;
    cursor: pointer;
    text-align: center;
    width: 10vh;
    height: 10vh;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}
td, th {
    width: 10vh;
    height: 10vh;
}
td img {
    width: 100%;
    max-width: 10vh;
}
table {
    border-collapse: collapse;
    border: black solid 3px;
    width: 100%;
    background-color: #393939;
}
tr, td, th {
    border: black solid 2px;
}
.tierheader {
    width: 7%;
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
}
.tiersettings {
    width: 7%;
    background-color: #1f1f1f;
    text-align: center;
}
#dragged {
    opacity: 0.4;
}
#tablehead {
    background-color: #1f1f1f;
    color: white !important;
}
th:not(.header) {
    color: black
}
#imageoptions {
    min-height: 100px;
}
.hidden {
    background-color: transparent;
}
.dropshown {
    display: block;
    position: absolute;
    background-color: #1f1f1f;
    padding: 10vh;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
    border: #222222 solid 5px;
    border-radius: 10px;
}
.dropshown button {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    background-color: #222222;
    color: white;
    border-color: #393939;
}
.dropshown button:hover {
    background-color: #2b2b2b;
   border-color: #6b6b6b
}
#new {
    color: #6b6b6b;
    transition: color .1s;
    
}
#new:hover {
    color: white;
}
